.about {
    padding: 76px 0 80px;

    &__group {
        display: flex;
    }

    & .group-list {
        width: 43.33%;
        text-align: right;
        color: #B3B3BA;
        padding: 0;

        &__item {
            cursor: pointer;
            list-style: none;
            font-size: 42px;
            font-weight: 500;
            line-height: 50px;
            padding-right: 40px;
            padding-bottom: 20px;
            border-right: 4px solid #E6E6F0;

            &:hover {
                color: $magenta;
            }
            &:active {
                border-color: $magenta;
                color: $magenta;
            }

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    .group__wrap {
        width: 56.67%;
        align-self: center;
    }
    .group__inset {
        width: 633px;
        color: $white;
        padding-left: 40px;
    }

    .group__title {
        font-size: 32px;
        line-height: 38px;
        padding-bottom: 20px;
    }
    .group__txt {
        font-size: 21px;
        line-height: 30px;
    }

    .slider {
        display: none;
        position: relative;
        width: 100%;
        height: auto;
      }

      .slider input[name="switch"] {
        display: none;
      }

      .switch {
        position: absolute;
        left: 0;
        bottom: -41px;
        text-align: center;
        width: 100%;
      }

      .switch label {
        display: inline-block;
        width: 16px;
        height: 16px;
        cursor: pointer;
        margin: 0 7px;
        border-radius: 50%;
        background-color: rgba($color: #24A3FF, $alpha: 0.2);
      }

      #btn1:checked~.switch label[for="btn1"] {
        background-color: #24A3FF;
      }

      #btn2:checked~.switch label[for="btn2"] {
        background-color: #24A3FF;
      }

      #btn3:checked~.switch label[for="btn3"] {
        background-color: #24A3FF;
      }
      #btn4:checked~.switch label[for="btn4"] {
        background-color: #24A3FF;
      }

      .slider-inner {
        overflow: hidden;
      }

      .slides {
        display: flex;
        width: 100%;
        transition: all 0.5s;

    }
    .slider__page {
        display: flex;
        justify-content: center;

    }

    .slider__inset {
        align-self: center;
        margin-bottom: 20px;
        width: 335px;
        padding: 0 20px;
    }
    .slider__ref {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #F0145A;
        padding-bottom: 10px;
    }
    .slider__title {
        font-size: 22px;
        line-height: 26px;
        color: #FFFFFF;
        padding-bottom: 15px;
    }
    .slider__txt {
        font-size: 18px;
        line-height: 26px;
        color: #FFFFFF;
    }

    #btn1:checked~slider-inner slides {
        transform: translate(0);
      }

    #btn2:checked~.slider-inner .slides {
    transform: translate(-100%);
    }

    #btn3:checked~.slider-inner .slides {
    transform: translate(-200%);
    }
    #btn4:checked~.slider-inner .slides {
    transform: translate(-300%);
    }


}


@media (max-width: 767px) {

}

@media (max-width: 375px) {
    .about {
        &__group {
            display: none;
        }
        .slider {
            display: flex;
        }
    }



}

