.header {
    .ref-page_dark {
        font-size: 38px;
        line-height: 45px;
        color: #323264;
    }

    .lang-switcher-ref_dark {
        color: #B3B3BA;
    }

    .top-info__address_dark a {
        color: #B3B3BA;
    }

    .top-info__tel_dark a {
        color: #B3B3BA;

        &:hover {
            color: $magenta;
        }
    }

    .main-menu__item_dark {
        color: #24A3FF;

        &:hover {
            color: $magenta;
        }

        &:active {
            text-decoration: underline;
        }
    }

    .top-info__fb-logo_dark {
        padding-top: 3px;

        & path {
            fill: $text;
        }

        & a::before {
            vertical-align: 9px;
            margin-right: 7px;
        }

        & path:hover {
            fill: $magenta;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header_services {

        & .ref-page {
            grid-area: logo;
            margin-left: 155px;
        }
    }
}

@media (min-width: 374px) and (max-width: 767px) {
    .header_services {

        & .ref-page {
            grid-area: logo;
            margin-left: 74px;
            font-size: 18px;
            line-height: 22px;

            &::before {
                width: 11px;
                height: 24px;
            }

            &::after {
                width: 21px;
                height: 24px;
            }
        }
    }

    .header {
        .mobile-menu__icon_dark {
            background: #323264;
        }
        .mobile-menu__icon_dark::after, .mobile-menu__icon_dark::before {
            background: #323264;
        }
    }
}
