.about-slides {
    background-color: $grey;
    padding: 28px 0 70px;
    border-bottom:  4px solid #E6E6F0;

    &__title {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $navy;
        padding-bottom: 30px;
    }

    .slider {
        position: relative;
        height: auto;
        margin: 0 -20px;
      }

      .slider input[name="switch"] {
        display: none;
      }

      .switch {
        position: absolute;
        left: 0;
        bottom: -44px;
        text-align: center;
        width: 100%;
      }

      .switch label {
        display: inline-block;
        width: 16px;
        height: 16px;
        cursor: pointer;
        margin: 0 5px;
        border-radius: 50%;
        background-color: rgba($color: #24A3FF, $alpha: 0.2);
      }

      #btn1:checked~.switch label[for="btn1"] {
        background-color: #24A3FF;
      }

      #btn2:checked~.switch label[for="btn2"] {
        background-color: #24A3FF;
      }

      #btn3:checked~.switch label[for="btn3"] {
        background-color: #24A3FF;
      }

      .slider-inner {
        overflow: hidden;
      }

      .slides {
        width: 100%;
        height: 115px;
        transition: all 0.5s;

        & .page {
            display: flex;
            flex-direction: row;
            width: auto;

            & .company-logo-group {
                width: 25%;
                align-self: center;
                display: flex;
                justify-content: center;
                background: #FFFFFF;
                padding: 62px 152px 48px;

                border-radius: 12px;
                margin: 0 20px;
                background-repeat: no-repeat;
                background-position: center center;

                &:nth-child(5) {
                    margin-left: 0;
                }
                &:nth-child(9) {
                    margin-left: 0;
                }

                &_01 {
                    background-image: url(../../img/legal-500-logo.svg);
                }
                &_02 {
                    background-image: url(../../img/premia-logo.svg);
                }
                &_03 {
                    background-image: url(../../img/leaders-logo.svg);
                }
                &_04 {
                    background-image: url(../../img/ulf-logo.svg);
                }
             }
        }

    }

    #btn1:checked~slider-inner slides {
        transform: translate(0);
      }

      #btn2:checked~.slider-inner .slides {
        transform: translate(-100%);
      }

      #btn3:checked~.slider-inner .slides {
        transform: translate(-200%);
      }
}


@media (min-width: 767px) and (max-width: 991px) {

}

@media (min-width: 374px) and (max-width: 767px) {

    
}

