.header {
    .ref-page_dark {
        font-size: 38px;
        line-height: 45px;
        color: #323264;
    }

    .lang-switcher-ref_dark {
        color: inherit;
        color: #B3B3BA;
    }

    .top-info__address_dark a {
        color: #B3B3BA;
    }
    .top-info__tel_dark a {
        color: #B3B3BA;
    }
    .main-menu__item_dark {
        color: #24A3FF;
    }
}
