.header {
    padding-top: 49px;
    padding-bottom: 63px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: min-content auto;
    grid-template-areas: "logo info"
        "logo nav";


    .logo {
        grid-area: logo;
    }

    .top-info {
        grid-area: info;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        & a:not(.lang-switcher-ref):not(.main-menu__item)::before {
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #E6E6F0;
            display: inline-block;
        }


        & .lang-switcher {
            list-style: none;
            display: inline-flex;
            margin-right: 8px;

            & .lang-switcher-ref {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 12px;
                line-height: 14px;
                text-align: center;
                letter-spacing: 1px;
                margin-left: 10px;

                &:hover {
                    background-color: rgba($color: #EDEDF7, $alpha: 0.5);
                    color: $white;
                    padding: 5px;
                    border-radius: 8px;
                    transition: 0.5s;
                }

                &:active {
                    background-color: $magenta;
                    color: $white;
                    padding: 5px;
                    border-radius: 8px;
                }

                &_white {
                    color: $white;
                }
            }

        }


        &__address {
            margin-right: 10px;

            & a {
                font-size: 16px;
                line-height: 19px;


                &::before {
                    vertical-align: 2px;
                    margin-right: 8px;
                }
            }

            &_white a {
                color: $white;
            }
        }

        &__tel a {
            padding-bottom: 4px;
            padding-right: 10px;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;

            &::before {
                vertical-align: 2px;
                margin-right: 18px;
            }
        }

        &__tel_white a {
            color: $white;

            &:hover {
                color: $magenta;
            }
        }


        &__fb-logo_white {
            padding-top: 3px;


            & path {
                fill: $white;
            }

            & a::before {
                vertical-align: 9px;
                margin-right: 7px;
            }

            & path:hover {
                fill: $magenta;
            }
        }
    }

    & .main-menu {
        grid-area: nav;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-top: 10px;

        &__item {
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            text-align: right;
            padding-left: 12px;
            padding-top: 2px;

            &_white {
                color: $white;

                &:hover {
                    color: $magenta;
                }

                &:active {
                    text-decoration: underline;
                }
            }
        }

    }

    .mobile-menu {
        grid-area: nav;
        position: absolute;
        display: none;
        align-items: center;
        justify-content: flex-end;
        padding: 0 16px;
        top: 70px;
        left: 300px;
        right: 0;
        height: 200px;
        z-index: 9999999;

      }
      .mobile-menu__btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        cursor: pointer;
        transition: .4s;
      }
      .mobile-menu__icon_white {
        display: block;
        position: relative;
        background:$white;
        width: 90%;
        height: 2px;
        transition: .4s;
      }
      .mobile-menu__icon::after, .mobile-menu__icon::before {
        content: "";
        display: block;
        position: absolute;
        background: $white;
        width: 100%;
        height: 2px;
        transition: .4s;
      }
      .mobile-menu__icon::after {
        top: 8px;
      }
      .mobile-menu__icon::before {
        top: -8px;
      }
      .mobile-menu__container {
        position: absolute;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        top: 50px;
        right: 18px;
        z-index: 999;
        height: 0;
        opacity: 1;
        transition: .5s;
        overflow: hidden;
      }
      .mobile-menu__list {
        background-color: #E5E5E5;
        transition: .5s;
        list-style: none;
        padding-left: 0;
        margin-top: -50px;
      }
      .mobile-menu__item {
        padding: 11px 120px 15px;
      }
      .mobile-menu__link {
        text-decoration: none;

        color: $white;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
            &:hover {
                color: $magenta;
            }

            &:active {
                text-decoration: underline;
            }

      }
      .mobile-menu__checkbox {
        display: none;
      }
      .mobile-menu__checkbox:checked ~ .mobile-menu__nav {
        opacity: 1;
      }
      .mobile-menu__checkbox:checked ~ .mobile-menu__container {
        height: 100%;
      }
      .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
        background: transparent;
      }
      .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before, .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
        top: 0;
      }
      .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
      .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }

}



@media (max-width: 767px) {
    .header {
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr;
        grid-template-areas: "info"
            "logo"
            "nav";

        .top-info {
            justify-content: flex-start;
        }

        .lang-switcher {
            padding: 0;
        }

        .main-menu {
            justify-content: flex-start;

            &__item:first-child {
                padding-left: 0;
            }
        }
    }


}

@media (max-width: 375px) {
    .header {
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 32px;
        grid-template-areas: "info info"
            "logo nav";

        .logo img {
            width: 77px;
            height: 31px;
        }

        .top-info {
            & a:not(.lang-switcher-ref):not(.main-menu__item)::before {
                background-color: transparent;
            }
            justify-content: space-between;

            &__address,
            &__fb-logo {
                display: none;
            }
            &__tel_white a {
                color: $text;
            }
        }

        .lang-switcher:first-child .lang-switcher__item {
            margin-left: 0;
        }

        & .main-menu {
            display: none;
        }

        .mobile-menu {
            display: block;
        }


    }
}
