.bg-picture {
    background-image: url(../../img/services-cover.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #323264;
    background-size: contain;
}

.header_services {

    & .ref-page {
        grid-area: info;
        font-size: 38px;
        line-height: 45px;
        color: #FFFFFF;

        &::before {
            content: "";
            width: 21px;
            height: 46px;
            background-image: url(../../img/services-slash.svg);
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: middle;
        }

        &::after {
            content: "";
            width: 41px;
            height: 47px;
            background-image: url(../../img/services-symbol-slash.svg);
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: middle;
        }
    }

    &.main-menu__item_white_hover {
        & a:hover {
            color: $white;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header_services {

        & .ref-page {
            grid-area: logo;
            margin-left: 155px;
        }
    }
}

@media (min-width: 374px) and (max-width: 767px) {
    .header_services {

        & .ref-page {
            grid-area: logo;
            margin-left: 68px;
            font-size: 19px;
            line-height: 22px;

            &::before {
                width: 11px;
                height: 24px;
            }

            &::after {
                width: 21px;
                height: 24px;
            }
        }
    }
}
