.partners_services {
    padding-top: 65px;
    padding-bottom: 40px;
    border-bottom: 4px solid #E6E6F0;
    background-image: url(../../img/card-shadow.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}

.partners {

    &__group-text_mob,
    &__group-company_mob {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 374px) and (max-width: 767px) {
    .partners_services {
        background-image: url(../../img/card-shadow-mob.jpg);
    }

    .partners__group-text_desk,
    .partners__group-company_desk {
        display: none;
    }

    .partners__group-text_mob,
    .partners__group-company_mob {
        display: flex;
    }
    .partners__group-item:last-child .partners__group-text-inset {
        padding-top: 0;
    }
}

