.storytell {
    padding: 37px 0 53px;
    border-bottom: 4px solid $separator;



    &__ref {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $blue;
        text-decoration: none;

        &::after {
            content: "";
            width: 12px;
            height: 12px;
            background-image: url(../../img/link-arrow-blue.svg);
            color: $blue;
            background-repeat: no-repeat;
            background-position: center;
            display: inline-flex;
            vertical-align: -1px;
            padding-right: 5px;
        }

        &:hover {
            color: $magenta;
        }

    }

    &__title {
        padding-top: 3px;
        padding-bottom: 40px;
    }

    &__group {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -19px ;


        & .group-item {
            width: 33.333%;
            padding: 0 19px 42px;

            & a {
                font-size: 0;
            }

            &__img {
                width: 100%;
                height: 233px;
                object-fit: contain;
            }

            &__wrap {
                padding: 15px 20px;
            }

            &__title {
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                color: $blue;
            }

            &__date {
                font-weight: 700;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: $text;
                padding-bottom: 18px;
                border-bottom: 4px solid $separator;
                padding-top: 10px;
            }

            &__text-inset {
                width: 375px;
            }

            &__text {
                font-weight: 500;
                padding-top: 19px;
                font-size: 16px;
                line-height: 22px;
                color: #000000;
            }
        }
    }

    &__btn-wrap {
        display: flex;
        justify-content: center;
        margin-top: 10px;

    }
    &__btn {
        cursor: pointer;
        background: #24A3FF;
        box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
        border-style: none;
        border-radius: 12px;
        padding: 16px 78px 17px;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: $white;
    }



}
