.storytell {
    padding: 37px 0 53px;
    border-bottom: 4px solid $separator;
    background-color: #F5F5FA;

    &__ref {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $blue;
        text-decoration: none;

        &::after {
            content: "";
            width: 12px;
            height: 12px;
            background-image: url(../../img/link-arrow-blue.svg);
            color: $blue;
            background-repeat: no-repeat;
            background-position: center;
            display: inline-flex;
            vertical-align: -1px;
            padding-right: 5px;
        }

        &:hover {
            color: $magenta;
            transition: 0.5s;
        }

        &:hover::after {
            background-image: url(../../img/link-arrow-pink.svg);
            transition: 0.5s;
            transform: rotate(90deg);
        }
    }

    &__title {
        padding-top: 3px;
        padding-bottom: 40px;
    }

    &__group {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -19px;


        & .group-item {
            width: 33.333%;
            padding: 0 19px 40px;


            & a {
                font-size: 0;
            }

            &__img {
                width: 100%;
                height: 233px;
                object-fit: contain;
            }

            &__wrap {
                padding: 15px 20px;
                background-color: $white;
            }

            &__title {
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                color: $blue;
            }

            &__date {
                font-weight: 700;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: $text;
                padding-bottom: 18px;
                border-bottom: 4px solid $separator;
                padding-top: 10px;
            }

            &__text-inset {
                width: 375px;
            }

            &__text {
                font-weight: 500;
                padding-top: 19px;
                font-size: 16px;
                line-height: 22px;
                color: #000000;
            }
        }
    }

    &__btn-wrap {
        display: flex;
        justify-content: center;
        margin-top: 14px;

    }

    &__btn {
        cursor: pointer;
        background: #24A3FF;
        box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
        border-style: none;
        border-radius: 12px;
        padding: 16px 78px 17px;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: $white;

        &:hover {
            background-color: #0085FF;
        }

        &:active {
            background-color: #006CCF;
        }


    }



}

@media (max-width: 767px) {}

@media (max-width: 375px) {
    .storytell {
        padding-top: 66px;

        &__title {
            font-size: 32px;
            line-height: 38px;
            padding-bottom: 25px;
        }

        &__group {
            flex-direction: column;

            & .group-item {
                width: 100%;

                &__date {
                    border-color: transparent;
                }
            }

            & .group-item_03 {
                display: none;
            }

            & .group-item_04 {
                display: none;
            }

            & .group-item_05 {
                display: none;
            }

            & .group-item_06 {
                display: none;
            }
        }

        .group-item__text-inset {
            display: none;
        }

    }



}
