.team {
    padding: 72px 0 133px;
    background-image: url(../../img/card-shadow.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;

    .slider {
        position: relative;
        width: 1320px;
        height: auto;
      }

      .slider input[name="switch"] {
        display: none;
      }

      .switch {
        position: absolute;
        left: 0;
        bottom: -41px;
        text-align: center;
        width: 100%;
      }

      .switch label {
        display: inline-block;
        width: 16px;
        height: 16px;
        cursor: pointer;
        margin: 0 7px;
        border-radius: 50%;
        background-color: rgba($color: #24A3FF, $alpha: 0.2);
      }

      #btn1:checked~.switch label[for="btn1"] {
        background-color: #24A3FF;
      }

      #btn2:checked~.switch label[for="btn2"] {
        background-color: #24A3FF;
      }

      #btn3:checked~.switch label[for="btn3"] {
        background-color: #24A3FF;
      }


      .slider-inner {
        overflow: hidden;
      }

      .slides {
        display: flex;
        width: 100%;
        height: 500px;
        transition: all 0.5s;

    }
    .slider__page {
        display: grid;
        grid-template-rows: 60px 200px auto;
        grid-template-columns: 455px 865px;
        grid-template-areas: "img ref"
            "img text"
            "img pos";
    }
    .slider__inset {
        margin-bottom: 20px;
    }

    .slider__img {
        grid-area: img;

        & {
            height: 500px;
            width: 100%;
            object-fit: contain;
        }
    }

    .slider__info-ref {
        grid-area: ref;
        padding-top: 40px;

        & a {
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $blue;


            &::after {
                content: "";
                width: 12px;
                height: 12px;
                background-image: url(../../img/link-arrow-blue.svg);
                color: $blue;
                background-repeat: no-repeat;
                background-position: center;
                display: inline-flex;
                vertical-align: -1px;
                padding-right: 5px;
            }

            &:hover {
                color: $magenta;
                transition: 0.5s;
            }

            &:hover::after {
                background-image: url(../../img/link-arrow-pink.svg);
                transition: 0.5s;
                transform:rotate(90deg);
            }
        }

    }

    .slider__info-inset {
        width: 827px;
        grid-area: text;
    }

    .slider__info-pos {
        grid-area: pos;
        padding-top: 20px;

        & .info-name {
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: $text;
            padding-bottom: 5px;
        }
        & .info-name_mob {
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: $text;
            padding-bottom: 5px;
            display: none;
        }

        & .info-position {
            font-size: 16px;
            line-height: 22px;
            color: $text;
            padding-bottom: 20px;
        }

    }

    #btn1:checked~slider-inner slides {
        transform: translate(0);
      }

      #btn2:checked~.slider-inner .slides {
        transform: translate(-100%);
      }

      #btn3:checked~.slider-inner .slides {
        transform: translate(-200%);
      }
}

@media (max-width: 767px) {

}

@media (max-width: 375px) {
    .team {
        padding: 40px 0 61px;
        background-image: url(../../img/card-shadow-mob.jpg);

        .slider {
            position: relative;
            width: 335px;
            height: auto;
            background: #F5F5FA;
            border-radius: 12px;
          }
          .slider__inset {
            padding-left: 21px;
          }
          .slider__info-ref {
              padding-top: 20px;
          }
        .slider__page {
            grid-template-rows: 40px auto 90px;
            grid-template-columns: auto 1fr;
            grid-template-areas: "ref ref"
                "text text"
                "img pos";
        }
        .slider__info-inset {
            width: 314px;
        }
        .slider__info-text {
            font-size: 32px;
            line-height: 38px;
        }
        .slider__info-pos {
            .info-name {
                display: none;
            }
            .info-name_mob {
                display: block;
            }
        }
    }
}

