@charset "UTF-8";
@font-face {
  font-family: "TT Norms";
  src: url("../fonts/ttnorms-bold-webfont.woff2") format("woff2"), url("../fonts/ttnorms-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms";
  src: url("../fonts/ttnorms-light-webfont.woff2") format("woff2"), url("../fonts/ttnorms-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms";
  src: url("../fonts/ttnorms-medium-webfont.woff2") format("woff2"), url("../fonts/ttnorms-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms";
  src: url("../fonts/ttnorms-regular-webfont.woff2") format("woff2"), url("../fonts/ttnorms-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.body {
  font-family: "TT Norms", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1350px;
  min-width: 345px;
  margin: 0 auto;
  padding: 0 15px;
}

.container_lg {
  max-width: 1440px;
  min-width: 375px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/*-------------*/
.title {
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  color: #f0145a;
}

.bg-color {
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
}

.header {
  padding-top: 49px;
  padding-bottom: 63px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: -webkit-min-content auto;
  grid-template-columns: min-content auto;
  grid-template-areas: "logo info" "logo nav";
}

.header .logo {
  grid-area: logo;
}

.header .top-info {
  grid-area: info;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .top-info a:not(.lang-switcher-ref):not(.main-menu__item)::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #E6E6F0;
  display: inline-block;
}

.header .top-info .lang-switcher {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 8px;
}

.header .top-info .lang-switcher .lang-switcher-ref {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1px;
  margin-left: 10px;
}

.header .top-info .lang-switcher .lang-switcher-ref:hover {
  background-color: rgba(237, 237, 247, 0.5);
  color: #ffffff;
  padding: 5px;
  border-radius: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .top-info .lang-switcher .lang-switcher-ref:active {
  background-color: #f0145a;
  color: #ffffff;
  padding: 5px;
  border-radius: 8px;
}

.header .top-info .lang-switcher .lang-switcher-ref_white {
  color: #ffffff;
}

.header .top-info__address {
  margin-right: 10px;
}

.header .top-info__address a {
  font-size: 16px;
  line-height: 19px;
}

.header .top-info__address a::before {
  vertical-align: 2px;
  margin-right: 8px;
}

.header .top-info__address_white a {
  color: #ffffff;
}

.header .top-info__tel a {
  padding-bottom: 4px;
  padding-right: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.header .top-info__tel a::before {
  vertical-align: 2px;
  margin-right: 18px;
}

.header .top-info__tel_white a {
  color: #ffffff;
}

.header .top-info__tel_white a:hover {
  color: #f0145a;
}

.header .top-info__fb-logo_white {
  padding-top: 3px;
}

.header .top-info__fb-logo_white path {
  fill: #ffffff;
}

.header .top-info__fb-logo_white a::before {
  vertical-align: 9px;
  margin-right: 7px;
}

.header .top-info__fb-logo_white path:hover {
  fill: #f0145a;
}

.header .main-menu {
  grid-area: nav;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 10px;
}

.header .main-menu__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  padding-left: 12px;
  padding-top: 2px;
}

.header .main-menu__item_white {
  color: #ffffff;
}

.header .main-menu__item_white:hover {
  color: #f0145a;
}

.header .main-menu__item_white:active {
  text-decoration: underline;
}

.header .mobile-menu {
  grid-area: nav;
  position: absolute;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 16px;
  top: 70px;
  left: 300px;
  right: 0;
  height: 200px;
  z-index: 9999999;
}

.header .mobile-menu__btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

.header .mobile-menu__icon_white {
  display: block;
  position: relative;
  background: #ffffff;
  width: 90%;
  height: 2px;
  -webkit-transition: .4s;
  transition: .4s;
}

.header .mobile-menu__icon::after, .header .mobile-menu__icon::before {
  content: "";
  display: block;
  position: absolute;
  background: #ffffff;
  width: 100%;
  height: 2px;
  -webkit-transition: .4s;
  transition: .4s;
}

.header .mobile-menu__icon::after {
  top: 8px;
}

.header .mobile-menu__icon::before {
  top: -8px;
}

.header .mobile-menu__container {
  position: absolute;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  top: 50px;
  right: 18px;
  z-index: 999;
  height: 0;
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
  overflow: hidden;
}

.header .mobile-menu__list {
  background-color: #E5E5E5;
  -webkit-transition: .5s;
  transition: .5s;
  list-style: none;
  padding-left: 0;
  margin-top: -50px;
}

.header .mobile-menu__item {
  padding: 11px 120px 15px;
}

.header .mobile-menu__link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.header .mobile-menu__link:hover {
  color: #f0145a;
}

.header .mobile-menu__link:active {
  text-decoration: underline;
}

.header .mobile-menu__checkbox {
  display: none;
}

.header .mobile-menu__checkbox:checked ~ .mobile-menu__nav {
  opacity: 1;
}

.header .mobile-menu__checkbox:checked ~ .mobile-menu__container {
  height: 100%;
}

.header .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
  background: transparent;
}

.header .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before, .header .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
  top: 0;
}

.header .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.header .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@media (max-width: 767px) {
  .header {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: "info" "logo" "nav";
  }
  .header .top-info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header .lang-switcher {
    padding: 0;
  }
  .header .main-menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header .main-menu__item:first-child {
    padding-left: 0;
  }
}

@media (max-width: 375px) {
  .header {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 32px;
    grid-template-areas: "info info" "logo nav";
  }
  .header .logo img {
    width: 77px;
    height: 31px;
  }
  .header .top-info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .top-info a:not(.lang-switcher-ref):not(.main-menu__item)::before {
    background-color: transparent;
  }
  .header .top-info__address, .header .top-info__fb-logo {
    display: none;
  }
  .header .top-info__tel_white a {
    color: #b3b3ba;
  }
  .header .lang-switcher:first-child .lang-switcher__item {
    margin-left: 0;
  }
  .header .main-menu {
    display: none;
  }
  .header .mobile-menu {
    display: block;
  }
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(/img/bg-frame.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: relative;
}

.intro__title {
  width: 511px;
  text-align: center;
  font-weight: 500;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 29%;
  left: 31%;
}

.intro__img {
  padding-top: 122px;
  margin-right: 167px;
}

.intro__scroll {
  position: absolute;
  bottom: 6%;
  left: 48%;
  margin-left: 6px;
}

.intro__scroll a {
  content: "";
  padding: 11px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.intro__scroll a path {
  opacity: 0.5;
}

@media (max-width: 767px) {
  .intro__title {
    left: 8%;
  }
  .intro__img {
    padding-top: 122px;
    margin-right: 167px;
  }
}

@media (max-width: 375px) {
  .intro {
    background: none;
  }
  .intro__title {
    width: 370px;
    left: 0;
  }
}

.about {
  padding: 76px 0 80px;
}

.about__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .group-list {
  width: 43.33%;
  text-align: right;
  color: #B3B3BA;
  padding: 0;
}

.about .group-list__item {
  cursor: pointer;
  list-style: none;
  font-size: 42px;
  font-weight: 500;
  line-height: 50px;
  padding-right: 40px;
  padding-bottom: 20px;
  border-right: 4px solid #E6E6F0;
}

.about .group-list__item:hover {
  color: #f0145a;
}

.about .group-list__item:active {
  border-color: #f0145a;
  color: #f0145a;
}

.about .group-list__item:last-child {
  padding-bottom: 0;
}

.about .group__wrap {
  width: 56.67%;
  -ms-flex-item-align: center;
      align-self: center;
}

.about .group__inset {
  width: 633px;
  color: #ffffff;
  padding-left: 40px;
}

.about .group__title {
  font-size: 32px;
  line-height: 38px;
  padding-bottom: 20px;
}

.about .group__txt {
  font-size: 21px;
  line-height: 30px;
}

.about .slider {
  display: none;
  position: relative;
  width: 100%;
  height: auto;
}

.about .slider input[name="switch"] {
  display: none;
}

.about .switch {
  position: absolute;
  left: 0;
  bottom: -41px;
  text-align: center;
  width: 100%;
}

.about .switch label {
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin: 0 7px;
  border-radius: 50%;
  background-color: rgba(36, 163, 255, 0.2);
}

.about #btn1:checked ~ .switch label[for="btn1"] {
  background-color: #24A3FF;
}

.about #btn2:checked ~ .switch label[for="btn2"] {
  background-color: #24A3FF;
}

.about #btn3:checked ~ .switch label[for="btn3"] {
  background-color: #24A3FF;
}

.about #btn4:checked ~ .switch label[for="btn4"] {
  background-color: #24A3FF;
}

.about .slider-inner {
  overflow: hidden;
}

.about .slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.about .slider__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .slider__inset {
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 20px;
  width: 335px;
  padding: 0 20px;
}

.about .slider__ref {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #F0145A;
  padding-bottom: 10px;
}

.about .slider__title {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  padding-bottom: 15px;
}

.about .slider__txt {
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

.about #btn1:checked ~ slider-inner slides {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.about #btn2:checked ~ .slider-inner .slides {
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
}

.about #btn3:checked ~ .slider-inner .slides {
  -webkit-transform: translate(-200%);
          transform: translate(-200%);
}

.about #btn4:checked ~ .slider-inner .slides {
  -webkit-transform: translate(-300%);
          transform: translate(-300%);
}

@media (max-width: 375px) {
  .about__group {
    display: none;
  }
  .about .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.advantage {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
  padding-bottom: 9px;
}

.advantage__services a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;
}

.advantage__services a::after {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url(../../img/link-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-right: 5px;
}

.advantage__services a:hover {
  color: #f0145a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.advantage__services a:hover::after {
  background-image: url(../../img/link-arrow-pink.svg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.advantage__title {
  padding: 3px 0 10px;
}

.advantage__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantage__group .group-item {
  width: 33.333%;
  padding: 0 20px;
  margin-top: 58px;
}

.advantage__group .group-item__img {
  padding: 14px;
  background-color: #ffffff;
  width: 92px;
  height: 92px;
  border-radius: 24px;
  vertical-align: middle;
}

.advantage__group .group-item__img:last-child {
  padding: 21px;
}

.advantage__group .group-item__ref :hover {
  color: #f0145a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.advantage__group .group-item__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #006cff;
  padding: 20px 0 15px;
}

.advantage__group .group-item__text {
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}

@media (max-width: 375px) {
  .advantage__title {
    font-size: 32px;
    line-height: 38px;
  }
  .advantage__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantage__group .group-item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team {
  padding: 72px 0 133px;
  background-image: url(../../img/card-shadow.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.team .slider {
  position: relative;
  width: 1320px;
  height: auto;
}

.team .slider input[name="switch"] {
  display: none;
}

.team .switch {
  position: absolute;
  left: 0;
  bottom: -41px;
  text-align: center;
  width: 100%;
}

.team .switch label {
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin: 0 7px;
  border-radius: 50%;
  background-color: rgba(36, 163, 255, 0.2);
}

.team #btn1:checked ~ .switch label[for="btn1"] {
  background-color: #24A3FF;
}

.team #btn2:checked ~ .switch label[for="btn2"] {
  background-color: #24A3FF;
}

.team #btn3:checked ~ .switch label[for="btn3"] {
  background-color: #24A3FF;
}

.team .slider-inner {
  overflow: hidden;
}

.team .slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 500px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.team .slider__page {
  display: grid;
  grid-template-rows: 60px 200px auto;
  grid-template-columns: 455px 865px;
  grid-template-areas: "img ref" "img text" "img pos";
}

.team .slider__inset {
  margin-bottom: 20px;
}

.team .slider__img {
  grid-area: img;
}

.team .slider__img {
  height: 500px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.team .slider__info-ref {
  grid-area: ref;
  padding-top: 40px;
}

.team .slider__info-ref a {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
}

.team .slider__info-ref a::after {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url(../../img/link-arrow-blue.svg);
  color: #24a3ff;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: -1px;
  padding-right: 5px;
}

.team .slider__info-ref a:hover {
  color: #f0145a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.team .slider__info-ref a:hover::after {
  background-image: url(../../img/link-arrow-pink.svg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.team .slider__info-inset {
  width: 827px;
  grid-area: text;
}

.team .slider__info-pos {
  grid-area: pos;
  padding-top: 20px;
}

.team .slider__info-pos .info-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #b3b3ba;
  padding-bottom: 5px;
}

.team .slider__info-pos .info-name_mob {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #b3b3ba;
  padding-bottom: 5px;
  display: none;
}

.team .slider__info-pos .info-position {
  font-size: 16px;
  line-height: 22px;
  color: #b3b3ba;
  padding-bottom: 20px;
}

.team #btn1:checked ~ slider-inner slides {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.team #btn2:checked ~ .slider-inner .slides {
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
}

.team #btn3:checked ~ .slider-inner .slides {
  -webkit-transform: translate(-200%);
          transform: translate(-200%);
}

@media (max-width: 375px) {
  .team {
    padding: 40px 0 61px;
    background-image: url(../../img/card-shadow-mob.jpg);
  }
  .team .slider {
    position: relative;
    width: 335px;
    height: auto;
    background: #F5F5FA;
    border-radius: 12px;
  }
  .team .slider__inset {
    padding-left: 21px;
  }
  .team .slider__info-ref {
    padding-top: 20px;
  }
  .team .slider__page {
    grid-template-rows: 40px auto 90px;
    grid-template-columns: auto 1fr;
    grid-template-areas: "ref ref" "text text" "img pos";
  }
  .team .slider__info-inset {
    width: 314px;
  }
  .team .slider__info-text {
    font-size: 32px;
    line-height: 38px;
  }
  .team .slider__info-pos .info-name {
    display: none;
  }
  .team .slider__info-pos .info-name_mob {
    display: block;
  }
}

.partners {
  padding-bottom: 95px;
}

.partners__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners__group-item {
  width: 33.33%;
  padding: 17px 20px 20px 20px;
  background-color: #f5f5fa;
  border: 1px solid white;
}

.partners__group-text-inset {
  width: 260px;
}

.partners__group-item:last-child .partners__group-text-inset {
  width: 400px;
  padding-top: 25px;
}

.partners__group-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #686887;
  padding-bottom: 20px;
}

.partners__group-company {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: #b3b3ba;
}

.partners .group-company_uppercase {
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .partners__group-item {
    width: 50%;
  }
}

@media (max-width: 375px) {
  .partners__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .partners__group-item {
    width: 100%;
  }
  .partners__group-text-inset {
    width: 290px;
  }
  .partners__group-text {
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 21px;
  }
}

.companies__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  padding-bottom: 31px;
  text-align: center;
}

.companies__list {
  height: 360px;
  display: grid;
  grid-template-rows: repeat(3, 33.33%);
  grid-template-columns: repeat(4, 25%);
  grid-gap: 0;
  list-style: none;
  padding: 0;
}

.companies__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.companies .list-item_blue {
  background-color: #1C4280;
}

.companies .list-item_dark {
  background-color: #143646;
}

.companies .list-item_orange {
  background-color: #F48B30;
}

.companies .list-item_violet {
  background-color: #9E4DC3;
}

.companies .list-item_orange2 {
  background-color: #FD9339;
}

.companies .list-item_gray {
  background-color: #E2E2E4;
}

.companies .list-item_red {
  background-color: #C71C36;
}

.companies .list-item_lightblue {
  background-color: #DCF3F9;
}

.companies .list-item_grey2 {
  background-color: #EAEAEA;
}

.companies .list-item_darkviolet {
  background-color: #282240;
}

.companies .list-item_darkblue {
  background-color: #1D4568;
}

.companies .list-item_black {
  background-color: #000000;
}

.companies__list-ref {
  padding: 10px;
}

@media (max-width: 767px) {
  .companies__list {
    grid-template-rows: repeat(4, 25%);
    grid-template-columns: repeat(3, 33.33%);
  }
}

@media (max-width: 375px) {
  .container_lg {
    width: 375px;
    height: 540px;
  }
  .companies__list {
    grid-template-rows: repeat(6, 90px);
    grid-template-columns: repeat(2, 50%);
  }
  .companies .list-item_blue img {
    width: 158px;
    height: 35px;
  }
  .companies .list-item_dark img {
    width: 168px;
    height: 27px;
  }
  .companies .list-item_orange img {
    width: 146px;
    height: 34px;
  }
  .companies .list-item_violet img {
    width: 144px;
    height: 36px;
  }
  .companies .list-item_orange2 img {
    width: 144px;
    height: 36px;
  }
  .companies .list-item_gray img {
    width: 128px;
    height: 33px;
  }
  .companies .list-item_red img {
    width: 111px;
    height: 49px;
  }
  .companies .list-item_lightblue img {
    width: 104px;
    height: 54px;
  }
  .companies .list-item_grey2 img {
    width: 118px;
    height: 39px;
  }
  .companies .list-item_darkviolet img {
    width: 132px;
    height: 28px;
  }
  .companies .list-item_darkblue img {
    width: 137px;
    height: 33px;
  }
  .companies .list-item_black img {
    width: 112px;
    height: 70px;
  }
}

.storytell {
  padding: 37px 0 53px;
  border-bottom: 4px solid #e6e6f0;
  background-color: #F5F5FA;
}

.storytell__ref {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
  text-decoration: none;
}

.storytell__ref::after {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url(../../img/link-arrow-blue.svg);
  color: #24a3ff;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: -1px;
  padding-right: 5px;
}

.storytell__ref:hover {
  color: #f0145a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.storytell__ref:hover::after {
  background-image: url(../../img/link-arrow-pink.svg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.storytell__title {
  padding-top: 3px;
  padding-bottom: 40px;
}

.storytell__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -19px;
}

.storytell__group .group-item {
  width: 33.333%;
  padding: 0 19px 40px;
}

.storytell__group .group-item a {
  font-size: 0;
}

.storytell__group .group-item__img {
  width: 100%;
  height: 233px;
  -o-object-fit: contain;
     object-fit: contain;
}

.storytell__group .group-item__wrap {
  padding: 15px 20px;
  background-color: #ffffff;
}

.storytell__group .group-item__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #24a3ff;
}

.storytell__group .group-item__date {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #b3b3ba;
  padding-bottom: 18px;
  border-bottom: 4px solid #e6e6f0;
  padding-top: 10px;
}

.storytell__group .group-item__text-inset {
  width: 375px;
}

.storytell__group .group-item__text {
  font-weight: 500;
  padding-top: 19px;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.storytell__btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 14px;
}

.storytell__btn {
  cursor: pointer;
  background: #24A3FF;
  -webkit-box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
          box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-style: none;
  border-radius: 12px;
  padding: 16px 78px 17px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}

.storytell__btn:hover {
  background-color: #0085FF;
}

.storytell__btn:active {
  background-color: #006CCF;
}

@media (max-width: 375px) {
  .storytell {
    padding-top: 66px;
  }
  .storytell__title {
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 25px;
  }
  .storytell__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .storytell__group .group-item {
    width: 100%;
  }
  .storytell__group .group-item__date {
    border-color: transparent;
  }
  .storytell__group .group-item_03 {
    display: none;
  }
  .storytell__group .group-item_04 {
    display: none;
  }
  .storytell__group .group-item_05 {
    display: none;
  }
  .storytell__group .group-item_06 {
    display: none;
  }
  .storytell .group-item__text-inset {
    display: none;
  }
}

.footer {
  padding: 29px 0 40px;
  background-color: #F5F5FA;
}

.footer .footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-wrap .footer-left {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 41.67%;
}

.footer .footer-wrap .footer-left a:not(.footer-left__logo-fb)::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(179, 179, 186, 0.7);
  display: inline-block;
  vertical-align: 2px;
  margin-right: 10px;
}

.footer .footer-wrap .footer-left__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 31px;
}

.footer .footer-wrap .footer-left__text {
  padding-right: 32px;
}

.footer .footer-wrap .footer-left__map {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  color: #24a3ff;
}

.footer .footer-wrap .footer-left__map:hover {
  color: #f0145a;
}

.footer .footer-wrap .footer-left__tel a {
  padding-right: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #46466E;
}

.footer .footer-wrap .footer-left__tel a:hover {
  color: #f0145a;
}

.footer .footer-wrap .footer-left__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #323264;
}

.footer .footer-wrap .footer-left__mail a {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  color: #24a3ff;
}

.footer .footer-wrap .footer-left__mail a:hover {
  color: #f0145a;
}

.footer .footer-wrap .footer-left__logo {
  margin-top: -9px;
  padding-right: 10px;
}

.footer .footer-wrap .footer-left__logo path:hover {
  fill: #f0145a;
}

.footer .footer-right__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #B3B3BA;
}

@media (max-width: 375px) {
  .footer {
    padding-bottom: 118px;
  }
  .footer .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer-wrap .footer-left {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .footer-wrap .footer-left a:not(.footer-left__logo-fb)::before {
    background-color: transparent;
  }
  .footer .footer-wrap .footer-left__text {
    padding-right: 0;
    margin-bottom: 10px;
  }
  .footer .footer-wrap .footer-left__address {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .footer-wrap .footer-left__contact {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 25px;
  }
  .footer .footer-wrap .footer-left__tel {
    padding: 20px 0;
  }
  .footer .footer-wrap .footer-left__mail {
    padding-bottom: 20px;
  }
  .footer .footer-right__text {
    width: 320px;
    text-align: center;
  }
}

.bg-picture {
  background-image: url(../../img/services-cover.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #323264;
  background-size: contain;
}

.header_services .ref-page {
  grid-area: info;
  font-size: 38px;
  line-height: 45px;
  color: #FFFFFF;
}

.header_services .ref-page::before {
  content: "";
  width: 21px;
  height: 46px;
  background-image: url(../../img/services-slash.svg);
  display: inline-block;
  vertical-align: middle;
}

.header_services .ref-page::after {
  content: "";
  width: 41px;
  height: 47px;
  background-image: url(../../img/services-symbol-slash.svg);
  display: inline-block;
  vertical-align: middle;
}

.header_services.main-menu__item_white_hover a:hover {
  color: #ffffff;
}

@media (max-width: 375px) {
  .header {
    grid-template-rows: auto auto;
    grid-template-columns: -webkit-min-content auto;
    grid-template-columns: min-content auto;
    grid-template-areas: "info info" "logo nav";
  }
}

.services-advantage {
  background: none;
  padding-bottom: 78px;
  /* планшет */
  /* смартфон */
}

.services-advantage__group {
  margin: 0 -20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services-advantage__group .group-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-advantage__group .group-item__text-inset {
  width: 861px;
}

.services-advantage__group .group-item__img {
  padding: 14px;
  background-color: #ffffff;
  width: 92px;
  height: 92px;
  border-radius: 24px;
  vertical-align: middle;
  margin-bottom: 20px;
  margin-top: -28px;
}

.services-advantage__group .group-item__title {
  font-size: 42px;
  letter-spacing: -1.3px;
  line-height: 50px;
  text-align: center;
  color: #f0145a;
}

.services-advantage__group .group-item__text {
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
}

.services-advantage__btn-wrap {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-advantage__btn {
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  padding: 16px 40px 17px;
  background: #24A3FF;
  -webkit-box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
          box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
}

.services-advantage__btn:hover {
  background-color: #0085FF;
}

.services-advantage__btn:active {
  background-color: #006CCF;
}

.services-advantage form {
  overflow: hidden;
  margin: 0 auto;
  padding: 20px;
  min-width: 320px;
  max-width: 527px;
  width: 100%;
  background: #F5F5FA;
  border-radius: 12px;
  -webkit-filter: drop-shadow(0px 15px 80px rgba(40, 40, 86, 0.5));
          filter: drop-shadow(0px 15px 80px rgba(40, 40, 86, 0.5));
}

.services-advantage textarea, .services-advantage input {
  display: block;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  background-clip: padding-box;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-family: "TT Norms", Arial, sans-serif;
}

.services-advantage textarea {
  overflow: hidden;
  width: 100%;
  height: 180px;
  border-style: none;
}

.services-advantage input:not(.btn-send) {
  width: 100%;
  height: 47px;
  border-style: none;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.services-advantage input[type=submit] {
  cursor: pointer;
}

.services-advantage input:focus, .services-advantage textarea:focus {
  background: #FFFFFF;
  border-radius: 8px;
  overflow: hidden;
}

.services-advantage :focus::-webkit-input-placeholder {
  color: transparent;
}

.services-advantage :focus::-moz-placeholder {
  color: transparent;
}

.services-advantage :focus:-ms-input-placeholder {
  color: transparent;
}

.services-advantage :focus::-ms-input-placeholder {
  color: transparent;
}

.services-advantage :focus::placeholder {
  color: transparent;
}

.services-advantage .btn-close {
  cursor: pointer;
  border: none;
  background-image: url(../../img/close-icon.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  height: 32px;
  width: 32px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.services-advantage .help-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  color: #f0145a;
  padding-bottom: 20px;
}

.services-advantage .help-text {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  color: #b3b3ba;
  margin-bottom: 9px;
}

.services-advantage .btn-send {
  border-style: none;
  background: #24A3FF;
  -webkit-box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
          box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  outline: none;
  padding: 16px 72px 17px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.services-advantage .btn-send:hover {
  background-color: #0085FF;
}

.services-advantage .btn-send:active {
  background-color: #006CCF;
}

.services-advantage .overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  visibility: hidden;
  background-color: rgba(50, 50, 100, 0.7);
  position: fixed;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.services-advantage .overlay:target {
  visibility: visible;
  opacity: 1;
}

.services-advantage .modal {
  right: 0;
  left: 0;
  width: 50%;
  z-index: 10001;
  opacity: 0;
  display: block;
  visibility: hidden;
  position: absolute;
  -webkit-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}

.services-advantage .overlay:target + .modal {
  top: 25%;
  visibility: visible;
  opacity: 1;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .services-advantage .modal {
    width: 95%;
  }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
  .services-advantage .modal {
    width: 85%;
  }
}

.services-details {
  background: linear-gradient(194.34deg, #323264 -14.28%, #323264 44.35%, #643E72 86.64%);
  border-radius: 0px 0px 12px 12px;
  padding-bottom: 65px;
}

.services-details__parent {
  width: 1092px;
  border-top: 4px solid #FFFFFF;
  margin: 0 auto;
}

.services-details__title {
  padding: 20px 0;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.services-details__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-details ul {
  list-style: disc;
  padding: 0;
}

.services-details ul li::marker {
  /* content: "";
            margin-right: 8px;
            display: inline-block;
            vertical-align: 2px;
            width: 6px;
            height: 6px;
            border-radius: 50%; */
  color: #f0145a;
}

.services-details__list-left {
  width: 50%;
  margin-left: 28px;
}

.services-details__list-right {
  width: 50%;
  margin-left: 63px;
}

.services-details__list-item {
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  padding-bottom: 14px;
  width: 500px;
}

.partners_services {
  padding-top: 65px;
  padding-bottom: 40px;
  border-bottom: 4px solid #E6E6F0;
  background-image: url(../../img/card-shadow.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.footer_services {
  background: #F5F5FA;
  border-radius: 0px;
}

.header .ref-page_dark {
  font-size: 38px;
  line-height: 45px;
  color: #323264;
}

.header .lang-switcher-ref_dark {
  color: #B3B3BA;
}

.header .top-info__address_dark a {
  color: #B3B3BA;
}

.header .top-info__tel_dark a {
  color: #B3B3BA;
}

.header .top-info__tel_dark a:hover {
  color: #f0145a;
}

.header .main-menu__item_dark {
  color: #24A3FF;
}

.header .main-menu__item_dark:hover {
  color: #f0145a;
}

.header .main-menu__item_dark:active {
  text-decoration: underline;
}

.header .top-info__fb-logo_dark {
  padding-top: 3px;
}

.header .top-info__fb-logo_dark path {
  fill: #b3b3ba;
}

.header .top-info__fb-logo_dark a::before {
  vertical-align: 9px;
  margin-right: 7px;
}

.header .top-info__fb-logo_dark path:hover {
  fill: #f0145a;
}

.about-services {
  padding: 3px 0 100px;
}

.about-services__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 25px;
}

.about-services__item_left {
  width: 50%;
  margin-right: 42px;
}

.about-services__item-intro {
  font-size: 21px;
  line-height: 30px;
  color: #000000;
  padding-top: 20px;
}

.about-services__item_right {
  width: 33.33%;
}

.about-services__item-group {
  border-left: 4px solid #E6E6F0;
  padding-left: 20px;
}

.about-services__item-highlight {
  font-size: 36px;
  font-weight: 700;
  line-height: 51px;
  color: #F0145A;
}

.about-services__item-highlight::before {
  content: "";
  padding-right: 6px;
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: -4px;
  background-repeat: no-repeat;
}

.about-services__item-highlight_icon01::before {
  background-image: url(../../img/flag-icon.svg);
}

.about-services__item-highlight_icon02::before {
  background-image: url(../../img/briefcase-icon.svg);
}

.about-services__item-highlight_icon03::before {
  background-image: url(../../img/star-icon.svg);
}

.about-services__item-text {
  font-size: 18px;
  line-height: 21px;
  color: #323264;
  padding-bottom: 30px;
  padding-top: 7px;
}

.about-team {
  background-image: url(../../img/team-img.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  padding: 163px 0;
}

.about-team__title {
  font-size: 96px;
  line-height: 113px;
  text-align: center;
  letter-spacing: 63px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.8;
  text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
}

.about-description {
  padding: 80px 0 71px;
}

.about-description__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-description__text-inset {
  width: 33.33%;
}

.about-description__text-group {
  width: 50%;
  list-style: none;
  padding: 0;
  margin-right: 40px;
}

.about-description__text {
  padding-bottom: 20px;
  font-size: 21px;
  line-height: 30px;
  color: #000000;
}

.about-slides {
  background-color: #f5f5fa;
  padding: 28px 0 70px;
  border-bottom: 4px solid #E6E6F0;
}

.about-slides__title {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  padding-bottom: 30px;
}

.about-slides .slider {
  position: relative;
  width: 1320px;
  height: auto;
}

.about-slides .slider input[name="switch"] {
  display: none;
}

.about-slides .switch {
  position: absolute;
  left: 0;
  bottom: -44px;
  text-align: center;
  width: 100%;
}

.about-slides .switch label {
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 50%;
  background-color: rgba(36, 163, 255, 0.2);
}

.about-slides #btn1:checked ~ .switch label[for="btn1"] {
  background-color: #24A3FF;
}

.about-slides #btn2:checked ~ .switch label[for="btn2"] {
  background-color: #24A3FF;
}

.about-slides #btn3:checked ~ .switch label[for="btn3"] {
  background-color: #24A3FF;
}

.about-slides .slider-inner {
  overflow: hidden;
}

.about-slides .slides {
  width: 100%;
  height: 115px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.about-slides .slides .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 -20px;
  width: auto;
}

.about-slides .slides .page .company-logo-group {
  width: 25%;
  background: #FFFFFF;
  border-radius: 12px;
  margin: 0 20px;
}

.about-slides .slides .page .company-logo-group:nth-child(n+4) {
  margin-right: 0;
}

.about-slides .slides .page .company-logo-group:nth-child(5) {
  margin-left: 0;
}

.about-slides .slides .page .company-logo-group_01 {
  padding: 25px 110px 24px;
}

.about-slides .slides .page .company-logo-group_02 {
  padding: 25px 70px 24px;
}

.about-slides .slides .page .company-logo-group_03 {
  padding: 25px 52px 24px;
}

.about-slides .slides .page .company-logo-group_04 {
  padding: 25px 67px 24px;
}

.about-slides .slides .page:nth-child(4).company-logo-group {
  margin: 0;
}

.about-slides #btn1:checked ~ slider-inner slides {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.about-slides #btn2:checked ~ .slider-inner .slides {
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
}

.about-slides #btn3:checked ~ .slider-inner .slides {
  -webkit-transform: translate(-200%);
          transform: translate(-200%);
}

/*# sourceMappingURL=style.css.map */
